@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body{
    padding: 18px;
    font-family: 'Work sans', Arial, sans-serif;
    font-weight: bold;
    background-color:#DD403A;
    font-size: 13pt;
}
input#btn{
    font-family: 'Work sans', Arial, sans-serif;
    font-weight: bold;
    height: 40px;
    width: 79px;
}
input{
    height: 18px;
    width: 97px;
}
header{
    font-family: 'Koulen', arial, sans-serif;
    color: white;
    line-height: 2em;
    font-size: 25px;
    padding: 20px;
    text-align: center;    
}
section{
    padding: 21px;
    margin: auto;
    max-width: 500px;
    line-height: 2em;
    background-color: white;
    border-radius: 22px;
    box-shadow: 9px 6px 19px 1px rgba(0,0,0,0.58);
    height: auto;
}
footer{
    font-size: 20px;
    color: white;
    padding: 19px;
    text-align: center;
    font-weight:lighter;
}
